<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.2.0" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.0.3" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net45" />
  <package id="jquery.ui.layout.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net45" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.4.3" targetFramework="net45" />
</packages>