.ui-menu { width: 150px; position: absolute; }

.ui-icon.note-icon {
    background-image: url(../images/paletSmall.png);
    width: 24px;
    height: 24px; 
}

.ui-icon.icon-key-1x {
	background-position: -5px -65px;
}
.ui-icon.icon-key-0 {
	background-position: -35px -65px;
}
.ui-icon.icon-key-3x {
	background-position: -65px -65px;
}
.ui-icon.icon-key-2b {
	background-position: -95px -65px;
}
.ui-icon.icon-key-5x {
	background-position: -125px -65px;
}
.ui-icon.icon-key-4b {
	background-position: -155px -65px;
}

.ui-icon.icon-key-2x {
	background-position: -5px -95px;
}
.ui-icon.icon-key-1b {
	background-position: -35px -95px;
}
.ui-icon.icon-key-4x {
	background-position: -65px -95px;
}
.ui-icon.icon-key-3b {
	background-position: -95px -95px;
}
.ui-icon.icon-key-6x {
	background-position: -125px -95px;
}
.ui-icon.icon-key-5b {
	background-position: -155px -95px;
}

.ui-icon.icon-key-7x {
	background-position: -124px -125px;
}
.ui-icon.icon-key-6b {
	background-position: -152px -125px;
}

/*
.ui-button.ui-state-hover .ui-icon.icon-2_1 {
    background-image: url(images/n-2_1.png);
    width: 32px;
    height: 32px; 
}*/
