  <as-split [direction]="'horizontal'" [gutterSize]='11'>
    <as-split-area size="10">
        <app-var-list [varObject]="model?.scales" [title]="'Skalaer'" (selectedRef)="selectedRef($event)"></app-var-list>
        
        <app-var-list [varObject]="model?.variables" (selectedRef)="selectedRef($event)"></app-var-list>
    </as-split-area>
    <as-split-area size="90">
        <app-music-editor [selectedObject]="selectedVar" ></app-music-editor>
        <app-structured-music-editor [selectedObject]="selectedVar" ></app-structured-music-editor>
        <app-score-view [files]="imageFiles"></app-score-view>
    </as-split-area>
</as-split>
