<div>
    <div style="float:left;">
      <!--  <app-midi-player></app-midi-player>  -->
        <app-var-list [varObject]="model?.scales" [title]="'Skalaer'" (selectedRef)="selectedRef($event)"></app-var-list>
        
        <app-var-list [varObject]="model?.variables" (selectedRef)="selectedRef($event)"></app-var-list>
        
    </div>
  
    <div style="max-height: 800px;overflow: scroll;float:left;">
        <!--<button (click)="saveModel()">Gem til server</button>-->
        <app-music-editor [selectedObject]="selectedVar" ></app-music-editor>
        <app-structured-music-editor [selectedObject]="selectedVar" ></app-structured-music-editor>
        <app-score-view [files]="imageFiles"></app-score-view>
    </div>  
  </div>

