<select (change)="changeFileManager()" [(ngModel)]="fileManager">
    <option *ngFor="let id of musicProvider.fileCenter.getFileManagerIds()" >{{id}}</option>
</select>
  
<ul>
  <li *ngFor="let file of filelist" (click)="select(file)" [class.selected]="file.selected">{{file.name}}</li>
</ul>

<textarea name="editedTest" [(ngModel)]="editedText"></textarea>
<input type="text" [(ngModel)]="fileName" />
<button (click)="saveFile()">Save</button>


<textarea *ngIf="model" name="modelText" [(ngModel)]="modelText"></textarea>




<div>Todo:
<ul>
<li>Opret stemme</li>
<li>Opret manglende stemmer</li>
<li>Send Ly</li>
<li>Midi-link</li>
<li>Sektionsliste: gem  i model</li>
<li>Slå sektioner til og fra</li>
<li>Stemmeliste: gem  i model</li>
</ul>

<ul><li>Parse ly og vis grafisk</li>
<li>Vis i jMusic</li>
<li>Rediger grafisk</li>
<li>Find forekomster af variable</li>
<li>Vis kun aktuelle variable</li>
</ul>
</div>