@font-face {
  font-family: 'Emmentaler';
  font-style: normal;
  font-weight: 400;
  src: local('Emmentaler'), url(emmentaler-20.woff) format('woff');
}
body {
  font-family: 'Segoe UI', sans-serif;
}
#MeterDialog,
#KeyDialog {
  display: none;
}
#musicXMLText {
  white-space: pre;
}
#toolbar,
#notetools {
  padding: 4px;
  display: inline-block;
}
/* support: IE7 */
* + html #toolbar,
#notetools {
  display: inline;
}
.mouseOver {
  fill: #707070;
}
.hidden {
  visibility: hidden;
}
.toolbarArea {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: aliceblue;
  opacity: 1.0;
  z-index: 5;
}
.toolbarArea div {
  position: relative;
}
.overlay {
  position: fixed;
  z-index: 0;
  top: 80px;
  left: 0px;
  width: 150px;
  height: 100%;
  background-color: aliceblue;
  opacity: 0.95;
}
.overlay .staffTitleArea {
  position: absolute;
  width: 150px;
}
.overlay .helperArea {
  float: right;
  width: 100px;
  height: 80px;
}
#appContainer {
  /*border: solid red 1px;*/
  margin-top: 0px;
}
.svgArea {
  height: 500px;
}
.clientArea {
  margin-top: 80px;
  background-color: #efd;
  /*width: 100%;*/
}
.ui-menu {
  z-index: 999;
}
li.selected {
  background-color: #218;
  color: #eef;
}
li.selected a {
  color: #eef;
}
#openFileList,
#saveFileList {
  border: solid black 1px;
  height: 200px;
  overflow-y: scroll;
}
#openFileList ul,
#saveFileList ul {
  list-style: none;
}
body {
  height: 100%;
}
#MusicLayer_ {
  position: relative;
}
#clientArea {
  position: absolute;
  width: 99%;
  top: 0px;
  bottom: 167px;
  overflow: scroll;
}
#footer {
  width: 100%;
  height: 167px;
  position: absolute;
  bottom: 1px;
  left: 0;
  background: #ee5;
  overflow: hidden;
}
.up {
  position: absolute;
  top: 0px;
  border: solid black 1px;
}
.bw1,
.bw3,
.bw5,
.bw0,
.bw2,
.bw4,
.bw6 {
  height: 86px;
  background-color: ivory;
  width: 40px;
  z-index: 20;
}
.bw1:hover,
.bw3:hover,
.bw5:hover,
.bw0:hover,
.bw2:hover,
.bw4:hover,
.bw6:hover,
.bw1.hover,
.bw3.hover,
.bw5.hover,
.bw0.hover,
.bw2.hover,
.bw4.hover,
.bw6.hover {
  background-color: #ddd;
}
.bw1.down,
.bw3.down,
.bw5.down,
.bw0.down,
.bw2.down,
.bw4.down,
.bw6.down {
  border-right: solid #888 4px;
  width: 36px;
  background-color: #bbb;
}
.bw8,
.bw10,
.bw7,
.bw9,
.bw11 {
  height: 50px;
  background-color: black;
  width: 25px;
  z-index: 30;
}
.bw8:hover,
.bw10:hover,
.bw7:hover,
.bw9:hover,
.bw11:hover,
.bw8.hover,
.bw10.hover,
.bw7.hover,
.bw9.hover,
.bw11.hover {
  background-color: #222;
}
.bw8.down,
.bw10.down,
.bw7.down,
.bw9.down,
.bw11.down {
  background-color: #444;
  width: 22px;
  border-right: solid black 3px;
}
#tast53 {
  background-image: url(../images/symbol1/e_clefs.F_change.png);
  background-position: -7px 32px;
  background-repeat: no-repeat;
}
#tast60 {
  background-image: url(../images/symbol1/e_clefs.C_change.png);
  background-position: -7px 32px;
  background-repeat: no-repeat;
}
#tast67 {
  background-image: url(../images/symbol1/e_clefs.G_change.png);
  background-position: -7px 32px;
  background-repeat: no-repeat;
}
.piano {
  position: relative;
  left: -450px;
  top: 80px;
}
.toolbox {
  width: 100%;
  background-color: #ee5;
  position: absolute;
  top: 0px;
  height: 80px;
}
.toolitem {
  width: 40px;
  height: 39px;
  border: solid black thin;
  float: left;
}
.toolbarArea #notetools1 .ui-button-text {
  width: 35px;
  height: 38px;
}
.toolbarArea #notetools1 .ui-button .ui-icon {
  background-image: url(../images/UIimages.png);
  width: 33px;
  height: 40px;
  top: 0px;
  margin-top: 0px;
  left: 50%;
  margin-left: -19px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-acc-b {
  background-position: 0px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-acc-x {
  background-position: -36px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-acc-n {
  background-position: -72px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-acc-paren {
  background-position: -108px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-key {
  background-position: -144px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-acc-enharm {
  background-position: -180px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-acc-courtesy {
  background-position: -216px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-acc-hide {
  background-position: -252px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-none {
  background-position: -288px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-meter {
  background-position: -324px -8px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-rest {
  background-position: 0px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-dot {
  background-position: -36px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-2_1 {
  background-position: -72px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-1_1 {
  background-position: -108px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-1_2 {
  background-position: -144px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-1_4 {
  background-position: -180px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-1_8 {
  background-position: -216px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-1_16 {
  background-position: -252px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-1_32 {
  background-position: -288px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-1_64 {
  background-position: -324px -68px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-clef {
  background-position: 0px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-clef-g {
  background-position: 0px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-clef-f {
  background-position: -36px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-clef-c {
  background-position: -72px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-clef-perc {
  background-position: -108px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-clef-tab {
  background-position: -144px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-clef-tie {
  background-position: -180px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-clef-flip-stem {
  background-position: -216px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-clef-tuplet {
  background-position: -252px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-grace {
  background-position: -288px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-1_128 {
  background-position: -324px -128px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-finale {
  background-position: 0px -188px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-lyric {
  background-position: -36px -188px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-split-beam {
  background-position: -72px -188px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-play {
  background-position: 0px -248px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-pause {
  background-position: -36px -248px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-stop {
  background-position: -72px -248px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-right {
  background-position: 0px -308px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-left {
  background-position: -36px -308px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-down {
  background-position: -72px -308px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-up {
  background-position: -108px -308px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-enter {
  background-position: -144px -308px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-undo {
  background-position: -180px -308px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-redo {
  background-position: -216px -308px;
}
.toolbarArea #notetools1 .ui-button .ui-icon.icon-del {
  background-position: -95px -35px;
}
