<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.1.2" targetFramework="net452" />
  <package id="jqueryui.TypeScript.DefinitelyTyped" version="1.5.1" targetFramework="net452" />
  <package id="Node.js" version="5.3.0" targetFramework="net452" />
  <package id="Npm.js" version="2.13.1.0" targetFramework="net452" />
</packages>