/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* @import '../node_modules/primeng/resources/themes/omega/theme.css'; */
@import '../node_modules/primeng/resources/primeng.min.css';

app-score-view .ui-galleria .ui-galleria-filmstrip-wrapper {
    position: absolute;
    top:0px;
    background-color: gray;
    opacity: 0.5;
}